<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" parallel="methods" thread-count="1">
    <parameter name="baseURL" value="https://qa.koel.app/"> </parameter>

    <test name="Example Test" preserve-order="true">
        <classes>
<!--            <class name="ProfileTests"/>-->
<!--            <class name="HomeTest"/>-->
<!--            <class name="LoginTests"/>-->
<!--            <class name="LogoutTests"/>-->
<!--            <class name="RegistrationTest"/>-->
            <class name = "UpdateEmailTests"/>
        </classes>
    </test>
</suite>